---
import './AboutStyle.css';
import { Icon } from 'astro-icon/components';
---

<section class="about-me" id="about">
  <div class="title-about-me">
    <Icon name="about-me" size={70}/>
    <h2>
      About Me
    </h2>
  </div>
  
  <p>
    One can describe me as a passionate freelance web developer with expertise across various technologies. The primary focus lies in web application development utilizing <strong>MEAN</strong> and <strong>MERN</strong> stacks, incorporating 
    <strong>JavaScript</strong>, <strong>React.js</strong>, <strong>Node.js</strong>, <strong>Express</strong>, <strong>MongoDB</strong>, <strong>Angular</strong>, <strong>TypeScript</strong>, and <strong>SQL</strong>. Additionally, proficiency extends to automation development, where experience includes working with <strong>Selenium</strong> to craft test scripts. Furthermore, background in web <strong>scraping and data analysis</strong>.
  </p>
</section>