---
import Form from '../../components/form/Form.astro'
import { Icon } from 'astro-icon/components';
import './ContactStyle.css';
---

<script>
  
</script>

<section id="contact">

  <div class="title-contact">
    <Icon name="plug" size={70}/>
    <h2>
      Contact Me
    </h2>
  </div>

  <div class="section-contact">

    <div class="info-text-contact">
      <p>
        Are you ready to delve into the intricacies of your project? Let's have a conversation! Reach out to me now to kick-start the process. I'm here to collaborate with you and bring your vision to life.
      </p>
    </div>

    <div class="contact-form">
      <Form />
    </div>
  </div>
</section>
