---
import './ButtonAnimatedStyles.css';

--- 
<button class="button" data-text="Awesome">
    <span class="actual-text">
      &nbsp;
        <slot/>
      &nbsp;
    </span>
    <span aria-hidden="true" class="hover-text">
      &nbsp;
        <slot/>
      &nbsp;
    </span>
</button>