---
import { Icon } from 'astro-icon/components'
import './HeaderStyle.css';
import ThemeModeTwo from '../themeModeTwo/ThemeModeTwo.astro';
import DownLoadResume from '../../components/downLoadCurriculum/DownLoadResume.astro';
---

<header class="header-style">
	<div class="items-nav">
		<img 
			class="profil-photo"
			src="profile-photo.jpg"
			alt="William photo"
		/>
		<nav class="nav-style">
			<DownLoadResume />
			<a href="#">Home</a>
			<a href="#about">About</a>
			<a href="#projects">Projects</a>
			<a href="#contact">Contact</a>
			<ThemeModeTwo />
		</nav>
	</div>
	<div class="mobile-menu" >
		<div class="menu-toggle" id="menuToggleOpen">
			<Icon 
				name="menu"
				size={70}
			/>
		</div>
		<div class="menu-items" id="menuItems" hidden="false">
			<Icon 
				name="close"
				size={70}
				id="menuToggleClose"
			/>
			<div class="menu-section" id="menuSection">
				<a href="#">Home</a>
				<a href="#about">About</a>
				<a href="#projects">Projects</a>
				<a href="#contact">Contact</a>
			</div>
		</div>
	</div>
</header>

<script>
	const buttonToggleOpen = document.getElementById('menuToggleOpen');
	const buttonToggleClose = document.getElementById('menuToggleClose');
	const menu = document.getElementById('menuItems');
	const menuSection = document.getElementById('menuSection');

	buttonToggleOpen?.addEventListener('click', () => {
		if(menu) {
			menu.style.display = 'grid';
		}
	});

	buttonToggleClose?.addEventListener('click', () => {
		if(menu){
			menu.style.display = 'none';
		}
	});

	menuSection?.addEventListener('click', () => {
		if(menu){
			menu.style.display = 'none';
		}
	});
	
</script>

