:root {
  color-scheme: light dark;
  --color-white: #ffffff;
  --color-black: #000000;
  

  /* light theme  */
  --color-primary: #5f6f52;
	--color-secondary: #A9B388; 
  --color-tertiary: #B99470; 
  --color-quaternary: #FEFAE0;

  /* dark theme  */
  --color-primary-dark: #430A5D;
	--color-secondary-dark: #5F374B; 
  --color-tertiary-dark: #8C6A5D; 
  --color-quaternary-dark: #EEE4B1;
}

html {
  font-family: 'Roboto Mono', system-ui, sans-serif;
  scroll-behavior: smooth;		
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-block-size: 100vh;
  background: rgb(0,36,4);
  background: linear-gradient(0deg, rgba(0,36,4,1) 0%, rgba(95,111,82,1) 100%);
  transition: all 0.4s;
}

body.theme-dark {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-block-size: 100vh;

  background: linear-gradient(0deg, var(--color-primary-dark) 54%, var(--color-primary-dark) 100%);
  transition: all 0.4s;
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}